DB_HOST=localhost
DB_PORT=3306
DB_USER=root
DB_PASSWORD=
DB_NAME=bolao_copa
API_FOOTBALL_KEY=
API_FOOTBALL_USE_LOCAL_FALLBACK=true

JWT_SECRET_KEY=sua_chave_secreta_ost_2026_super_segura
JWT_ACCESS_TOKEN_EXPIRE_MINUTES=480
