DB_HOST=switchyard.proxy.rlwy.net
DB_PORT=54234
DB_USER=root
DB_PASSWORD=gLCkargwpdkGAuuIjmprryllFrYQUVhS
DB_NAME=railway
CORS_ALLOW_ORIGINS=*

API_FOOTBALL_KEY=3c35df496a4cc0f67619477531782e7b
API_FOOTBALL_USE_LOCAL_FALLBACK=false

JWT_SECRET_KEY=uma_chave_forte_qualquer
JWT_ACCESS_TOKEN_EXPIRE_MINUTES=480

VITE_API_BASE_URL=http://localhost:8000
