DB_HOST=localhost
DB_PORT=3306
DB_USER=root
DB_PASSWORD=SUA_SENHA_AQUI
DB_NAME=bolao_copa
CORS_ALLOW_ORIGINS=http://localhost:5173
JWT_SECRET_KEY=SUA_CHAVE_SECRETA_AQUI
JWT_ACCESS_TOKEN_EXPIRE_MINUTES=480
